---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import PostsSection from '../components/PostsSection.astro';
---
<BaseLayout title="Home" description="Learn. Build. Share.">
  <div class="relative">
    <Hero />
    <PostsSection />
  </div>
</BaseLayout>
